@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/*----------------Global------------------------->*/
* {
  font-family: 'Koulen', cursive;
}

input {
  border-style: none;
  margin: 3px;
  height: 2em;
  border-radius: 25px;
  background-color: white;
  text-indent: 5%;
}

nav {
  background-color: beige;
  display: flex;
  justify-content: space-around;
}


button {
  border-radius: 25px;
  border: none;
  height: 2em;
  margin: 3px;
  background-color: rgb(189, 184, 141);
  color: white;
}

body {
  margin: 0; 
  box-sizing: border-box;
}

.checked-text, .valid-text {
  color: greenyellow
}

.unchecked-text, .error-text {
  color: red;
}

/*-----------------Login Component--------------------> */
#login-component {
  background-image: url('../public/assets/background.jpeg');
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content:center ;
}

#login-component .form-control {
  background: rgba(0,0,0, .5);
  margin: 3px;
  padding: 10px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login-logo {
  height: 50%; 
}

/* Master Calendar Component */
#master-calendar-component,#reservation-component,#confirmation-component {
  background-image: url('../public/assets/background.jpeg');
  background-size: cover;

  margin: 0;
  display: flex;
  justify-content:center ;
  flex-direction: column;
  align-items: center;

}

.react-calendar {
  background-color: white;
  margin: 2%;
  border-radius: 25px;
  padding: 10px;
  color: black
}

.react-calendar button:hover {
  background-color: red;
}

#calendar-div {
  background-color: rgba(0,0,0,.5);
  margin: 2%;
  color: white;
  border-radius: 25px;
}

#calendar-div h1 {
  text-align: center;
}

#calendar-res-display {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 25px;
}
#calendar-res-display h1, h2{
color: white;
text-align: center;
margin: 0;
}

/*Reservation Component*/
#resrvation-component {
background-color: white;
}

#reservation-component input {
outline: 2px solid black;
}

#reservation-component input:focus {
  outline: 2px solid red
}

#reservation-component .form-control {
  display: flex;
  background-color: white;
  border-radius: 25px;
  flex-direction: column;
  padding: 5px;

}

#reservation-component .react-calendar {

}

#reservation-component h1{
  color: white
}

/*Cart Component*/
#cart-component {
  background-image: url('../public/assets/background.jpeg');
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content:center ;
  flex-direction: column;
}

#cart-component p,h1 {
  margin: 0;
}

#EULA, #cart-info{
  background-color: white;
  border-radius: 25px;
  margin: 5px;
  padding: 5px;
}

#cart-info .unchecked-text {
text-align: center;
}

#cart-info button {
display: block;
margin: 0 auto
}
/*Confirmation Component*/
#confirmation-component {
  background-image: url('../public/assets/background.jpeg');
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content:center ;
  flex-direction: column;
  align-items: center;
}

#confirmation-background {
  background-color: white;
  border-radius: 25px;
}
 #confirmation-background p {
   padding: 10px;
   font-size: 30px;
 }

 /*Profile Component*/
 #profile-component {
  background-image: url('../public/assets/background.jpeg');
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content:center ;
  flex-direction: column;
  align-items: center;
 }

 #profile-background{
   background-color: rgba(0,0,0, .5);
   margin: 5px;
   border-radius: 25px;
 }

 #profile-background p, h1{
   color: white
 }

 #profile-background h1 {
   text-align: center;
 }

 #profile-background table {
   padding: 10px;
 }

/*tables*/
.table-border, td, th {
  border: 5px solid black;
  border-collapse: collapse;
  background-color: white;
  padding: 3px;
}

td {
  text-align: center;
}

/*practicing git branching*/
